---
layout: archive
title: "Teaching and Student Supervision"
permalink: /teaching/
author_profile: true
---

{% comment %}
The template's original approach listed the _teaching collection here. The entries are now hand-written below,
and the template's demo files were moved to template_unused/_teaching/. To go back to the original approach, restore:
  {% raw %}{% include base_path %}

  {% for post in site.teaching reversed %}
    {% include archive-single.html %}
  {% endfor %}{% endraw %}
{% endcomment %}

<div class="list__item">
  <article class="archive__item">
    <h2 class="archive__item-title archive__item-title--plain"><strong>Student Supervision</strong>, ETH Zürich</h2>
    <div class="archive__item-content">
      <ul>
        <li>Yannick Funke (BSc thesis, co-supervised with Yushuo Xiao), 2026 &ndash;<br>
          <em>Formally Connecting an Isorecursive with an Equirecursive Viper Semantics</em></li>
        <li>Yannis Müri (MSc thesis), 2026<br>
          <em>Implementing a New Viper Back-End Targeting B3</em></li>
        <li>Matej Martinček (MSc thesis, co-supervised with Thibault Dardinier), 2025 &ndash; 2026<br>
          <em>Relational Hyper Hoare Logic</em></li>
        <li>Christopher Cohnen (MSc practical work, co-supervised with Thibault Dardinier), 2025 &ndash; 2026<br>
          <em>An Automated Verifier for Quantitative Hyperproperties</em></li>
      </ul>
    </div>
  </article>
</div>

<div class="list__item">
  <article class="archive__item">
    <h2 class="archive__item-title archive__item-title--plain"><strong>Teaching Assistant</strong>, ETH Zürich</h2>
    <div class="archive__item-content">
      <ul>
        <li>Applied Cryptography (2023)</li>
        <li>Concepts of Object-Oriented Programming (2024)</li>
        <li>Research Topics in Software Engineering (2024)</li>
        <li>Computer Science I &ndash; D-ITET (2025 and 2026)</li>
        <li>Theoretical Computer Science (2025)</li>
        <li>Computer Science II &ndash; D-ITET (2026)</li>
      </ul>
    </div>
  </article>
</div>

<div class="list__item">
  <article class="archive__item">
    <h2 class="archive__item-title archive__item-title--plain"><strong>Teaching Assistant</strong>, Peking University</h2>
    <div class="archive__item-content">
      <ul>
        <li>Introduction to Computer Systems (2019 and 2020)</li>
        <li>Foundamentals of Cryptography (2020)</li>
      </ul>
    </div>
  </article>
</div>
